@import './variables.scss';
@import './mixin.scss';
@font-face {
  font-family: 'sq-iconfont'; /* project id 949593 */
  src: url("//at.alicdn.com/t/font_949593_7ba0eauw4ct.eot");
  src: url("//at.alicdn.com/t/font_949593_7ba0eauw4ct.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_949593_7ba0eauw4ct.woff") format('woff'), url("//at.alicdn.com/t/font_949593_7ba0eauw4ct.ttf") format('truetype'), url("//at.alicdn.com/t/font_949593_7ba0eauw4ct.svg#sq-iconfont") format('svg');
}